$color-main-text: #1a1b1d;
$color-modal-background: #1a1b1de9;
$color-main-white: #ffffff;
$color-light-blue: #4460f7;
$color-blue: #2140e8;
$color-orange: #f9a52b;
$color-dirty-white: #f0f1f5;
$color-light-gray: #e0e2ea;
$color-gray: #b9bdcf;
$color-dark-gray: #9194a5;
