@import './variables';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
.MuiTypography-root {
  font-family: 'Nunito', sans-serif !important;
  color: $color-main-text;
}
button {
  color: $color-main-white;
}

body {
  position: relative;
  min-height: 100vh;
}

.viewWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.componentsWrapper {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
