@import './variables';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
.MuiTypography-root {
  font-family: 'Nunito', sans-serif !important;
  color: $color-main-text;
}
button {
  color: $color-main-white;
}

body {
  position: relative;
  min-height: 100vh;
  font-weight: 600;
}

.viewWrapper {
  display: flex;
  flex-direction: column;
  background-color: $color-dirty-white;

  min-height: 100vh;
}
.navWrapper {
  background-color: $color-main-white;
}
.componentsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 56px;
}
