@import 'styles/variables.scss';

.loginButton {
  color: $color-blue !important;
  border: 1px solid $color-blue !important;
  text-transform: initial !important;
  border-radius: 0;
  width: 88px;
  height: 38px;
  white-space: nowrap;
}
