@import 'styles/variables.scss';

.navbarWrapper {
  @include responsive-widths;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 105px;
  margin: 0 auto;
  padding: 48px 0;

  @media (max-width: $desktop-max-width) {
    align-items: flex-start;
    gap: 24px;
    padding: 48px 0 24px 0;
  }

  @media (max-width: $tablet-max-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 48px 0 32px 0;
  }
}
